$body-font-family = 'Nanum Gothic', 'Roboto', sans-serif
@import '~vuetify/src/stylus/main'
html
  overflow-y: auto
body
  width:100%
.cursor-pointer
  cursor:pointer
.cursor-move
  cursor:move
.cursor-default
  cursor:default
.vertical-center
  position:relative
  top:50%
  transform: translateY(-50%)
.vertical-align-middle
  vertical-align: middle
.body--text
  color: rgba(0,0,0,0.87)
a
  outline: none
  text-decoration: none
*:focus
  outline:none
a:not(.primary--text)
  color: rgba(0,0,0,0.87)
a.underline:hover
  text-decoration:underline
span.tiny, span.tiny .v-icon, .v-list--dense .v-list__tile span.tiny .v-icon
  font-size:14px
.d-none
  display: none
.position-relative
  position:relative
.position-absolute
  position:absolute
.multi-row
  word-break: break-all
  width:100%
td.ellipsis 
  width: 100%
  max-width: 0
.w-100
  width:100%
.float-right
  float:right
.border-light
  border:1px solid #e8e8e8
//pedagy specific
.boardTitle
  font-size:16px
  font-weight:bold

// vuetify-related
.theme--light.v-divider.dark-border
  border-color:rgba(0,0,0,0.5)
.v-menu__content
  -webkit-overflow-scrolling: touch
.v-btn.plain:hover:before,
.v-btn.plain:focus:before,
.v-btn.plain.v-btn--active:hover:before
  background-color: transparent
  
.v-text-field .v-text-field__details
  margin-top:4px
.v-select.hideLine .v-input__slot::before, .v-select.hideLine .v-input__slot::after
  display:none
.v-text-field.dense .v-label, .v-select.dense .v-label, .v-input.dense input
  font-size: 16px
.v-text-field .v-input__slot
  padding-bottom:8px
.v-text-field.dense .v-input__slot
  margin-bottom:0
.v-text-field.dense input, .v-select.dense input
  max-height: 28px
  padding-bottom: 0px
.v-input--has-state.error--text .v-label
  -webkit-animation: cubic-bezier(0.25, 0.8, 0.5, 1);
  animation: cubic-bezier(0.25, 0.8, 0.5, 1);
.v-input.v-select.v-input--is-disabled .v-input__append-inner
  display:none
@media(max-width:600px)
  .container, .v-form > .container, .v-subheader
    padding:0
.v-btn.short
  min-width: 50px
.v-btn
  text-transform: none
.customAction .v-datatable__actions
  justify-content: space-between
.noResult .v-datatable__actions .v-datatable__actions__pagination
  display:none
table.v-table th:not(.multi-row), table.v-table td:not(.multi-row)
  white-space:nowrap
.v-list--dense .dense-list
  & .v-list__tile
    height:28px
    & .v-subheader, .v-list__tile__title
      height:24px
      line-height:24px
.v-textarea textarea
  margin-top:8px
.v-text-field .v-select__slot input[role=combobox], .v-text-field__slot input[type=text], .v-text-field__slot input[type=password]
  padding-bottom:4px
//file-pond
.filepond--drop-label label
  cursor:pointer