$body-font-family = 'Noto Sans KR', 'Nanum Gothic', sans-serif
@import url('https://fonts.googleapis.com/css?family=Material+Icons');
@import '~vuetify/src/stylus/app'
html
  overflow-y: auto
body
  width:100%
.cursor-pointer
  cursor:pointer
.cursor-move
  cursor:move
.cursor-default
  cursor:default
.vertical-center
  position:relative
  top:50%
  transform: translateY(-50%)
.vertical-align-middle
  vertical-align: middle
.body--text
  color: rgba(0,0,0,0.87)
a
  outline: none
  text-decoration: none
*:focus
  outline:none
a:not(.primary--text)
  color: rgba(0,0,0,0.87)
a.underline:hover
  text-decoration:underline
span.tiny, span.tiny .v-icon, .v-list--dense .v-list__tile span.tiny .v-icon
  font-size:14px
.d-none
  display: none
.position-relative
  position:relative
.position-absolute
  position:absolute
.word-break-all
  word-break:break-all
.multi-row
  word-break: break-all
  width:100%
td.ellipsis 
  width: 100%
  max-width: 0
.w-100
  width:100%
.float-right
  float:right
.border-light
  border:1px solid #e8e8e8
.border-primary
  border:1px solid #9dd1b7
.border-x-light
  border-left:1px solid #e8e8e8
  border-right:1px solid #e8e8e8
.wrap
  white-space: normal
.bg-light
  background-color:#f3f9f6 !important
.bg-secondary-light
  background-color:rgba(0,103,194, 0.1) !important
@media screen and (-webkit-min-device-pixel-ratio:0) { 
  select,
  select:focus,
  textarea,
  textarea:focus,
  input,
  input:focus,
  .ql-editor[contenteditable=true],
  .ql-editor[contenteditable=true]:focus{
    font-size: 16px
  }
}
//pedagy specific
#spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.v-snack-content span{
  word-break: break-all;
}
.boardTitle
  font-size:16px
  font-weight:bold
.cover-title
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
svg .st0{fill:#FFFFFF} svg .st1{fill:#0067C2} svg .st2{fill:#9DD1B7} svg .st3{fill:#83D6B4} svg .st4{fill:#3B1DCE} svg .st5{fill:none;stroke:#9DD1B7;stroke-width:5;stroke-linejoin:round;stroke-miterlimit:10} svg .st6{fill:#3B1DCE;stroke:#9DD1B7;stroke-width:5;stroke-linejoin:round;stroke-miterlimit:10} svg .st7{fill:#9655C9} svg .st8{fill:#707070}
// vuetify-related
.theme--light.v-divider.dark-border
  border-color:#959595
.theme--light.v-divider.secondary-border
  border-color:#0067c2
.v-menu__content, .scrolling-touch
  -webkit-overflow-scrolling: touch
.v-btn.plain:hover:before,
.v-btn.plain:focus:before,
.v-btn.plain.v-btn--active:hover:before
  background-color: transparent
.v-input.dense
  padding-top:0
  margin-top:0
.v-text-field.dense .v-label, .v-select.dense .v-label, .v-input.dense input
  font-size: 16px
.v-text-field .v-input__slot
  padding-bottom:4px
table.v-table thead td:not(:nth-child(1)),
table.v-table tbody td:not(:nth-child(1)),
table.v-table thead th:not(:nth-child(1)),
table.v-table tbody th:not(:nth-child(1)),
table.v-table thead td:first-child,
table.v-table tbody td:first-child,
table.v-table thead th:first-child,
table.v-table tbody th:first-child
  padding: 0 12px
td:first-child
  padding: 0 12px
td:first-child .v-input--selection-controls__input
  margin-right: 0
.v-text-field.dense:not(.v-select) .v-input__slot
  padding-bottom: 0
  margin-bottom:4px
.v-messages__message
  font-size:0.99em
.v-text-field.dense input, .v-select.dense input
  max-height: 28px
  padding-bottom: 0px
.v-input--has-state.error--text .v-label
  -webkit-animation: cubic-bezier(0.25, 0.8, 0.5, 1);
  animation: cubic-bezier(0.25, 0.8, 0.5, 1);
.v-input.v-select.v-input--is-disabled .v-input__append-inner
  display:none
.v-text-field > .v-input__control > .v-input__slot:before, .v-text-field > .v-input__control > .v-input__slot:after
  bottom:-3px
@media(max-width:600px)
  .v-form > .container, .v-subheader
    padding:0
.v-btn.short
  min-width: 50px
.v-btn
  text-transform: none
.customAction .v-datatable__actions
  justify-content: space-between
.noResult .v-datatable__actions .v-datatable__actions__pagination, .v-select.hideLine .v-input__slot::before, .v-select.hideLine .v-input__slot::after
  display:none
table.v-table th:not(.multi-row), table.v-table td:not(.multi-row), .nowrap
  white-space:nowrap
.v-list--dense .dense-list
  & .v-list__tile
    height:28px
    & .v-subheader, .v-list__tile__title
      height:24px
      line-height:24px
.v-textarea textarea
  margin-top:8px
.v-text-field .v-select__slot input[role=combobox], .v-text-field__slot input[type=text], .v-text-field__slot input[type=password]
  padding-bottom:4px
.v-text-field__slot input[type=text], .v-text-field__slot input[type=password]
  margin-bottom: 4px
.v-subheader, table.v-table thead tr
  height: 32px
.v-subheader
  line-height: 32px
.container.grid-list-xs .layout .flex
  padding: 1px 8px
.application--wrap, .v-menu__content
  background-color: white
.v-datatable__actions__pagination
  margin: 0
.theme--light.v-pagination .v-pagination__item,
.theme--light.v-pagination .v-pagination__item--active,
.theme--light.v-pagination .v-pagination__navigation
  box-shadow: none
  margin: 0
  padding: 0
.theme--light.v-pagination .v-pagination__item--active
  color: black
  font-weight: bold
  font-size: 16px
  background-color: white !important
  border-color: white !important
.last-tr-border tbody tr:last-child
  border-bottom: 1px solid rgba(0, 0, 0, 0.12)
form .flex
  padding-left: 0.5rem
  padding-right: 0.5rem
.v-list .v-subheader
  padding-left: 0.5rem
div.layout.column
  display:block
.v-input--checkbox .v-label.theme--light
  color:rgba(0,0,0,0.87)
.v-input--checkbox.small .v-label.theme--light
  font-size:14px
.title, .body-2
  font-weight:700
//import layout styles
@import './layout'
